<!DOCTYPE html>
<html>
<head>
	<title>Home </title>
    <link href="style/style-main.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="page">
		<header class="page-head box-radius">
			<h1 class="white-shadow-text cursive-text">This is the  Heading</h1>
			<nav>
				<ul class="cursive-text">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li> 
					<li><a href="#">Contact</a></li>
                    <li><a href="#">Other</a></li>
				</ul>
			</nav>
		</header>
        <section class="box-radius">
            
        </section>
        <footer class="box-radius">
              <p class="copyright">
                    This is page is created for parctice during training(2014-2015) &#64; avd&reg; infotech&trade;
                </p>
        </footer>
	</div>
</body>
</html>
