<!DOCTYPE html>
<html>
<head>
	<title>Home </title>
    <link href="style/style-main.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="page">
		<header class="page-head box-radius">
			<h1 class="white-shadow-text cursive-text">This is the  Heading</h1>
			<nav>
				<ul class="cursive-text">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li> 
					<li><a href="#">Contact</a></li>
                    <li><a href="#">Other</a></li>
				</ul>
			</nav>
		</header>
        <section class="page-main-section box-radius">
            <article class="article">
                <header class="article-header box-radius">
                    <h1>What is Lorem ipsum?</h1>
                </header>
                <section class="article-section box-radius">
                    <p class="paragraph">
                        <span class="first-char">I</span>n publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content that could be distracting with placeholder text may allow viewers to focus on graphic aspects such as font, typography, and page layout. It also reduces the need for the designer to come up with meaningful text, as they can instead use hastily generated lorem ipsum text.

The lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin.

A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s by Aldus Corporation, which employed it in graphics and word processing templates for its desktop publishing program, PageMaker, for the Apple Macintosh.
                    </p>
                </section>                
                <footer class="article-footer box-radius">
<p class="copyright">                   Referance from wikipedia.com
                </p>                </footer>
            
            </article>
        </section>
        <footer class="page-footer box-radius">
              <p class="copyright">
                    This is page is created for parctice during training(2014-2015) &#64; avd&reg; infotech&trade;
                </p>
        </footer>
	</div>
</body>
</html>
