/* resetting the page to prevent surprised out put over the change of the browser*/
body,h1,h2,h3,h4,h5,h6,div,header,footer,section,article{
    margin: 0;
}
/*set the heading portion here*/
body{
    background-color: darkcyan;
}
#page{
    padding: 0px;
    margin: 0px;
    
}

.page-head{
    background-color:darkslategrey;
    color: #ffffff;
    padding-top: 20px;
    padding-left:20px;
    padding-right: 20px;
    
}
.box-radius{
    border-radius: 11px;
}
header nav{
    width: 50%;
    margin: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
header nav ul{
    margin-bottom: 0px;
}
.cursive-text{
    font-family: cursive;
}
header nav ul li{
    font-size: 25px;
    display: inline;
    padding: 15px;
    padding-bottom: 0px;
}
header nav ul li a{
    color:#F0F8FF;
    text-decoration:none;
    text-shadow: 2px -1px 15px rgba(255, 255, 255, 0.50);
}
.white-shadow-text{
    text-shadow: 0px -5px 30px rgba(255, 255, 255, 1);
}

header nav ul li a:hover{
    background-color: #2F4F47;
    color: #ffffff;
     text-shadow: 0px -5px 30px rgba(255, 255, 255, 1);
}
#page section{
    font-family: Lucida Lucida Calligraphy;
    font-style: italic;
    font-synthesis: weight;    
    font-size: 1.2em;
    padding: 25px;
    line-height: 30px;
    padding-top: 30px;
    background-color:aliceblue;
    height: 200px;
    margin: 15px;
    height: auto;
}

#page footer{
    padding: 10px;
    background-color:teal; 
    height: 30px;
}

.light-grey-background{
    background-color:lightgrey; 
}
.silever-background{
    background-color: silver;
}
.dark-gray-background{
    background-color:darkgrey;
}
.copyright{
    color: snow;
    font-size: 9px;
    text-align: center;
}

.paragraph{
    margin-bottom: 30px;
}