<!doctype html>
<html>	
<head>
    <title>San Fransisco</title>
	<link href="style/style-sheet.css" type="text/css" rel="stylesheet">		
<title>Raani Ki Vaav,Patan</title>	
</head>

<body>
    <div id="page">
    <header>
<img src="image/logo.jpg" alt="Company Logo"/>
<nav>
	<ul>
		<li><a href="Index.html">Home</a></li>
		<li><a href="Maha-Kaali-Temple.html">Maha Kaali Temple</a></li>
		<li><a href="Raani-Ki-Vaav.html">Raani Ki Vaav</a></li>
		<li><a href="Educations.html">Education</a></li>
	</ul>
</nav>
</header>
        
<section>
<h2>Your Tour Guide</h2>
<h3>Raani Ki Vaav</h3>
    <p>
    <img src="image/MahaaKali.jpg" alt="Godes Mahaakaali" class="imageleft"/>
Patan Devi, also called Maa Patneshwari, is the oldest and one of the most sacred temples of Patan. The ancient temple, originally called Maa Nagar Devi Patneshwari, is believed to be the abode of the goddess Mahaa Kaali.
        </p>
    
    <p>
        <img alt="Godes Ambika" src="image/Ambika.jpg" class="imageright" />
        As in many other places, a mela is also held near these temples at the time of Vijayadashmi. On Saptami, Ashtami and Navami (Durga Puja)during the mela about 600 people come to offer prayers daily at either of the two temples. Visitors generally bring sweets, garlands and fruits to offer to the deities. The priest of the temple takes some quantity of the prasad and returns the rest to the devotees. He marks their forehead with Rori (red powder). The devotees also give some money to the priest as "dakshina".

As regards the routine of the rituals, the deity is daily bathed morning and evening and this is followed by offerings of prasad (fruits and sweetmeats etc.) and aarti with the usual reciting of hymns by the priest, accompanied by the ringing of bells
    </p>
</section>
 <aside>
    <blockquote>
        "Feeling Blased by Godes Mahaakali" - Amitaabh Bachchan.
    </blockquote>
     </aside>
<footer>
    <p class="copyright">
This is page is created for parctice during training(2014-2015) &#64; avd&reg; infotech&trade;
        </p>
</footer>
        </div>
</body>

</html>
