<!doctype html>
<html>	
<head>
    <title>San Fransisco</title>
	<link href="style/style-sheet.css" type="text/css" rel="stylesheet">		
<title>Raani Ki Vaav,Patan</title>	
</head>

<body>
    <div id="page">
    <header>
<img src="image/logo.jpg" alt="Company Logo"/>
<nav>
	<ul>
		<li><a href="Index.html">Home</a></li>
		<li><a href="Maha-Kaali-Temple.html">Maha Kaali Temple</a></li>
		<li><a href="Raani-Ki-Vaav.html">Raani Ki Vaav</a></li>
		<li><a href="Educations.html">Education</a></li>
	</ul>
</nav
</header>
        
<section>
<h2>Your Tour Guide</h2>
<h3>Raani Ki Vaav</h3>
    <p>
    <img src="image/RaniKiVav_page.jpg" alt="Raani ki Vaav From the Top" class="imageleft"/>
During the period of the Solanki dynasty, the stepwell called the Rani ki vav, or Ran-ki vav (Queen's step well) was constructed. It is a richly-sculptured monument, built by Udaymati in memory of her husband, Bhimdev I (1022-1063).
    </p>
    
    <p>
        <img alt="Lord Shiva Statue in Rani ki Vaav" src="image/LordShiva_VavPage.jpg" class="imageright" />
        It was probably completed by Udayamati and Karandev I after his death. A reference to Udaymati building the monument is in the 'Prabandha Chintamani' composed by Merutunga Suri in 1304 AD..
    </p>
    <p>
        It was one of the largest and the most sumptuous structures of its type. It became silted up and much of it is not visible now, except for some rows of sculptured panels in the circular part of the well. Among its ruins one pillar still stands which is the proof not only of the elegance of its design, but also excellent example of this period. A part only of the west well is extant from which it appears that the wall had been built of brick and faced with stone. From this wall project vertical bracket in pairs, this supported the different galleries of the well shaft proper. This bracketing is arranged in tiers and is richly carved.
    </p>
    <p>There is also a small Gate below the last step of the step well which has a 30 kilometre tunnel built (Now it has been blocked by stones and mud) which leads to the town of Sidhpur near Patan. It was used as an escape gateway for king who built the step well in the times of defeat.</p>
    <p>
        <img alt="Lord Vishnu Statue in Rani ki Vaav" src="image/Rani_ki_Vav_Vishnu.jpg" class="imageleft" />        
        Most of the sculpture is in devotion to Vishnu, in the forms of his Avatars (Krishna, Rama and others), representing their return to the world.
    </p>
    <p>
        Around 50–60 years back there used to be ayurvedic plants around this areas which causes the water accumulated in Rani ni vav helpful for viral disease, fever.
    </p>


</section>
 <aside>
    <blockquote>
        "Wells Often formed deep I used to Listen..........But it may be the higher up i see the first time" - Amitaabh Bachchan.
    </blockquote>
     </aside>
<footer>
    <p class="copyright">
This is page is created for parctice during training(2014-2015) &#64; avd&reg; infotech&trade;
        </p>
</footer>
        </div>
</body>

</html>
