
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    @{
        if (TempData["ErrorMessage"] != null)
        {
            <p class='text-error'>@TempData["ErrorMessage"]</p>
        }
        if (TempData["SuccessMessage"] != null)
        {
            <p class='text-success'>@TempData["SuccessMessage"]</p>
        }
    }
</div>