<!doctype html>
<html>	
<head>		
<title>Patan,Gujarat</title>
	<link href="style/style-sheet.css" type="text/css" rel="stylesheet">    
</head>
    
<body>
<div id="page">
    
<header>
<img src="image/logo.jpg" alt="Company Logo"/>
<nav>
	<ul>
		<li><a href="Index.html">Home</a></li>
		<li><a href="Maha-Kaali-Temple.html">Maha Kaali Temple</a></li>
		<li><a href="Raani-Ki-Vaav.html">Raani Ki Vaav</a></li>
		<li><a href="Educations.html">Education</a></li>
	</ul>
</nav>
</header>
    
<section>
<h2>Your Tour Guide</h2>
<h2>The Historical City</h2>
<p>
    <img class="imageright" src="image/Homepage_image.jpg" alt="Rani ki Vaav At Patan"/>
    Patan, an ancient fortified town, was founded in 745 AD by Vanraj Chavda, the most prominent king of the Chavda Kingdom. He named the city<span class="popout">Anhilpur Patan</span> or "Anhilwad Patan" after his close friend and Prime Minister Anhil shepherd. It is variously referre to any ocean.
</p>
<p>These Chalukya rajputs, with Paramaras of Malwa, the Chauhans of Sakambhari and Chandellas of Kalanjar and Mahoba, were serious contestants for supremacy in northern India.
</p>
    
<p>
    Later Mulraj, the adopted son of last Chavda king, established Solanki dynasty. He successfully expanded kingdom to west. His successor Siddhraj Jaisinh added Malwa. Kumarpal was also major ruler who patroned Jainism. Solanki rule cover Saurashtra and Kutch in the West, Lata in the South, Malwa in the East and Southern Rajasthan in the North at its greatest period. Historian Tertius Chandler estimates that Anhilwara was the tenth-largest city in the world in the year 1000, with a population of approximately 100,000.
</p>
    <img class="imageleft" src="image/MahisasurMardini.jpg" alt="Mahishashur Mardini Statue of Rani ki Vaav At Patan"/>
<p>
    When Muhammad Ghori had attempted to conquer Gujarat, the forces of Mularaja II, then the king of Patan, a mere boy-ruler, led by his heroic mother Naikidevi, inflicted such a crushing and conclusive defeat on him that the foreigner did not dare again during his lifetime to cast his greedy eye upon Patan. He never again entered India through Gujarat. The battle was fought at Kayadra, a village near Mount Abu. Ghori’s army was completely routed in the conflict, but somehow he escaped with his defeated army from Gujarat.
</p>
<p>
    Muhammed's general and later Sultan of Delhi Qutb-ud-din Aybak sacked the city between 1200 and 1210, and it was destroyed by the Alladin Khilji in 1298.
</p>
<p>
    The modern town of Patan later sprung up near the ruins of Anhilwara. During 1304 to 1411, first Patan was the Suba headquarter of Delhi Sultanate and then capital city of Gujarat Sultanate after the collapse of the Delhi Sultanate at the end of the fourteenth century. A new Fort was built by these Subas, a large portion of which along with a few of the gates is still intact. The old Fort of hindu kingdom is nearly vanquished and only a wall can be seen on the way from Kalka to Rani ki vav. In 1411, Sultan Ahmed Shah moved the capital to Ahmedabad.
</p>
    <p>
        Patan was part of the Baroda state from the mid-eighteenth century until India's independence in 1947, when Baroda became part of Bombay state, which in 1960 was separated into Gujarat and Maharashtra.
    </p>
    
    <h1>
        City Attraction
    </h1>
    <ul>
        <li>Raani Ki Vaav</li>
        <li>Sahastra-Ling Talaav</li>
        <li>Shree Mahakaali Temple</li>
        <li>Panch-Mukhi Hanumaan Temple (Akhada)</li>
         <li>Panchasara Parshva Naath Jain Temple</li>
         <li>Patola House</li>
         <li>Padma naabh Temple</li>
    </ul>
    
    <table>
        <caption>
          City Statistics
        </caption>
        <tr>
            <th>Population</th>
            <td>133,737</td>
            </tr>
        <tr>
            <th>Coordinates</th>
            <td>24.204542°N 84.179143°E</td>
            </tr>
        <tr>
            <th>Elevation</th>
            <td>76 m (249 ft)</td>
            </tr>
        <tr>
            <th>Time Zone</th>
            <td>IST (UTC+5:30)</td>
            </tr>
    </table>

</section>
<aside>
    <blockquote>
        "It's an odd thing, but anyone who disappears is said to be seen in Patan. It must be a delightful city and possess all the attractions of the next world" - Amitabh Bachchan
    </blockquote>
</aside>
    
    
    
<footer>
    <p class="copyright">
This is page is created by Ashish Modi &copy; for parctice during training(2014-2015) &#64; avd&reg; infotech&trade;
        </p>
</footer>
</div><!--End of the page-->
</body>

</html>
