<!DOCTYPE html>
<html>
<head>
    <title>title</title>  
    <link href="content/stylesheet.css" rel="stylesheet" />
</head>
    <body>
        <div id="main-page">
            <nav class="nav">
                <ul class="navbar">
                    <li class="navbar-item"><a class="navbar-anchor" href="#">Home</a></li>
                    <li class="navbar-item"><a class="navbar-anchor" href="#">About</a></li>
                    <li class="navbar-item"><a class="navbar-anchor" href="#">Contact</a></li>
                </ul>
            </nav>
            <header>
                <p>Header.</p>                
            </header>
            <section class="red-background left-block">
                <p>Section left</p>
            </section>
            <section class="green-background left-block page-content">
                <p>section</p>
            </section>
            <footer class="border-top cadetblue-background">
                <p>footer.</p>
            </footer>            
        </div>
    </body>
</html>
